{{template "base/head" .}}
<div class="repository file editor delete">
	{{template "paste/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<form class="ui form" method="post">
			{{.CSRFTokenHTML}}
			{{template "paste/editor/commit_form" .}}
		</form>
	</div>
</div>
{{template "base/footer" .}}