{{template "base/head" .}}
<div class="repository new issue">
	{{template "paste/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "paste/issue/navbar" .}}
		</div>
		<div class="ui divider"></div>
		{{template "paste/issue/new_form" .}}
	</div>
</div>
{{template "base/footer" .}}
